# IDE
.idea/

# mypy
.mypy_cache/
.pytest_cache/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution and packaging
*.egg-info/
.eggs/

# Jupyter
.ipynb_checkpoints/

*.sw[po]
playground/*
submissions/*
tasks/*
!tasks/tasks.py
!tasks/tests.py
.tags
bin/*
